@media(max-width:800px){
    .catalog__section{
      width: 100vw;
      min-height: 100dvh;
      overflow-x: hidden;
      overflow-y:hidden;
      width: 100dvw;
      height: 100dvh;
    display: flex;
      top:35px;
      -webkit-backdrop-filter: blur(20px);
      transition: 0s;
    }
   
    
    .nav-box__list{
      max-width: 90%;
      background: linear-gradient(180deg, rgba(0,0,0,1) 60%, rgba(177, 177, 177, 0) 100%);
  
      height: 50px;
      transform: translateY(-50px);
      top: 0;
      z-index: 100;
      
    }
    .nav-box__list__item{
      margin-right: 20px;
    }
    .nav-box__list__item a{
      font-size: 16px;
    }
    .nav-box__list__item::after{
    display: none;
    }
    .nav-bar-opener{
      display: flex;
      visibility: visible;
      opacity: 1;
      z-index: 10;
      position: absolute;
      right: 0;
      min-width: 10%; min-height: 50px;
      background: linear-gradient(180deg, rgba(0,0,0,1) 60%, rgba(177, 177, 177, 0) 100%);
     

    } 
 
    #nav-menu-opener:checked ~ .nav-box__list{
      transform: translateY(0px);
   
      }

      .nav-box__list{
        transition: .4s;
        align-items: center;
        align-content: center;
      }
  
   
    .article h2{
      font-size: 20px;
      max-width: 100px;
     position: absolute;
     right: 50px;
     top: -1%;
    }
    .article{
      min-width: 100dvw;
    min-height: 100dvh;
    border: none;
    }
    .article::before{
      border-bottom-right-radius: 0px ;
      border-top-right-radius: 0px ;

      top: 2%;
      
      z-index: 0;
    }
    .article::after{
      border-bottom-right-radius:0px ;
      border-top-right-radius: 0px ;
      border-top-left-radius:0px ;
      border-bottom-left-radius:0px ;
    transform: translateX(100%);
      
      top: 2%;
    }
    .preference{
      background: linear-gradient(93deg, rgb(255, 255, 255) 0%, rgba(0,0,0,1) 100%);
      height: 40px;
      display: flex;
      flex-direction: row;
      top: 60%;
      position: absolute;
      left: -30px;
      right: 0;
      z-index: 0;
    }

    .preference li{
      text-wrap: nowrap;
      margin: auto;
      text-align: center;
      width: min-content;
     font-size:3vw;
     text-align: start;
     width: min-content;
     transform: translateY(0);
    background-color: transparent;
    margin-left: 10px;
 
    }
    .catalog__section:target .preference li:first-child{
      transform: translateY(0%);
      transform: translateX(-10px);
      background-color: transparent;
      border: none;
      color: rgb(61, 61, 61);
    }
    .catalog__section:target .preference li:nth-child(2){
      transform: translateY(0%);
      transform: translateX(-30px);
      background-color: transparent;
      border: none;
      color: rgb(209, 207, 207);
    }
    .catalog__section:target .preference li:nth-child(3){
      display: none;
    }
    .catalog__section:target .preference li:nth-child(4){
      transform: translateY(0%);
      transform: translateX(-55px);
      -webkit-transform: translateX(-55px);
      z-index: -1;
      background-color: transparent;
      border: none;
      color: rgb(248, 248, 248);
    }
    .wraper{
      width: 100dvw;
     
   padding: 0%;
    }
    .projector{
      width: 100dvw;
      left: -6%;
      top: 10%;
      border-radius: 0;
    }
   
 
   





    .text-showing{
      display: flex;
      gap: 10px;
      z-index: 111;
      flex-direction: row;
      flex-wrap: nowrap;
      width: ; height: max-content;
      position: absolute;
      top: 108%;
      left: -30px;
      color: aliceblue;border: 1px solid white;
     font-size: 16px;
      padding: 5px 15px;
      background-color: gray;
      border-radius:0px 20px 20px 0px  ;
      writing-mode: vertical-lr;
      text-wrap: nowrap;
      padding:10px ;
      text-transform: uppercase;

      
  }

  .text-showing img{
    width: 20px;
    height: 20px;
   
  
  }
  
  .text__wraper{
    width: 100dvw;
    height: 400px;
    top: 100%;
    overflow-y: hidden;
    z-index: 110;
    background-color: black;
    transition: .4s;
    transform: translateX(-10px);
    border: none;
  }

  .text__wraper p{
    width: 90%;
  margin-left: 25px;
   padding: 10px 10px;
  }
  #text-showing:checked + .text-showing .more{
    display: none;
    opacity: 0;
  }
  #text-showing:checked  + .text-showing .less{
    display: inline-block;
    opacity: 1;
  }

  #text-showing:checked  + .text-showing +.text__wraper{
    height: 100dvh;
   overflow-y: scroll;
    border-bottom: 3px solid white;
    top: -10px;
    bottom: 0%;
   
  }
  #text-showing:checked  + .text-showing +.text__wraper p{
    margin-top: 40px;
  }

 .less{

  display: none;
  opacity: 0;
  position: relative;
  left: 0;
 }
.more{
  position: relative;
  left: 0;
}


  .catalog__btn{
    width: 100dvw; 
    height: 30px;
    top: 80%;
    z-index: 0;
    left: -7%;
    right: 0;
    bottom: 0;
    padding: 40px  ;
  }
  .catalog__btn::before{
    content: 'to make appointment  press button below';
    position: absolute;
    inset: -30px 0px 0px 0px ;
    font-size: 16px;
    color: rgb(255, 255, 255);
    margin: -25px;
    padding: 15px ;
    text-transform: uppercase;


  }

}