@media  (max-width: 800px) {
    
    body{
        overflow-y: scroll;
        overflow-x: hidden;
     
    }
    
    .booking-page{
        width: 100vw;
        min-height: 100dvh;
        overflow-y: visible;
        overflow-x: hidden;
        padding: 10px 20px; 
        background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(255, 255, 255, 0.904) 100%);
        box-shadow: none;
        border: none;border-radius: none;
        -webkit-backdrop-filter: blur(20px);
        transition: 0s;
        scroll-behavior: smooth;
    }
  
    .booking-form{
        border: none;
        display: flex;
        flex-direction: column-reverse;
        row-gap: 20px;border-radius: none;
    }
  
    .schedule{

        order: 1;
        margin: auto;
        width: 90%;
        height: 360px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        border: none;
        position: absolute;
       padding: 20px;
        top: 10%;
        overflow: hidden;
    }
    .schedule__cage>span{
        text-decoration: none;
    }
    .schedule::before{
        content: 'my schedule';
        text-transform: uppercase;
        position: absolute;
        top: 0%;
        font-size: 20px;
        font-weight: 600px;
        letter-spacing: 2px;
        word-spacing: 3px;
        color: goldenrod;
        opacity: 0;
        transition: 4s;
        -webkit-text-stroke:1px rgb(255, 255, 255) ;
    }
    .schedule::after{
        content: '';
        display: inline-block;
        width: 100dvw;
        height: 3px;
        background-color: rgb(0, 0, 0);
        position: absolute;
        right:  10;
        bottom: 0%;
        transform: scale(0);
        transition: 1s;
    }
    .schedule li{
        transition: .8s;
        transform: translateX(-200%);
        font-size: 16px;
        position: relative;
        top: 50%;
        font-weight: 900;

    }


    #BOOKING:target  .booking-form  .schedule::after{
       transform: scale(1);
    }

    #BOOKING:target  .booking-form  .schedule::before{
        opacity: 1;
    }

    .schedule li:nth-child(2){
        transform: translateX(200%);
        top: -45px;
    }
    .schedule li:nth-child(4){
        transform: translateX(200%);
        top: -105px;
    }
    .schedule li:nth-child(3){
    top: -15px;
    }
    .schedule li:nth-child(5){
        transform: translateX(0%);
    top: 150px;
    }

    #BOOKING:target  .booking-form  .schedule .schedule__cage:nth-child(1){
        transform: translateX(-30%);
        transition-delay:.3s ;
    }

    #BOOKING:target  .booking-form  .schedule .schedule__cage:nth-child(2){
        transform: translateX(30%);
        transition-delay:.3s ;
    }
    #BOOKING:target  .booking-form  .schedule .schedule__cage:nth-child(3){
        transform: translateX(-30%);
        transition-delay:.3s ;
       
       
    }
    #BOOKING:target  .booking-form  .schedule .schedule__cage:nth-child(4){
        transform: translateX(30%);
        transition-delay:.3s ;
    }
    #BOOKING:target  .booking-form  .schedule .schedule__cage:nth-child(5){
        transform: translateX(0%);
        transition-delay:.3s ;
        top: -100%;
       
        
    }


































    .recomendation-list{
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        align-items: center;
        list-style: none; 
        overflow: hidden;
        width: 100dvw; height: 30dvh;
        z-index: 100;
        position: absolute;
        bottom: 0;   left: 0;
       transform-origin: bottom ;
       transform:translateY(100%);
        transition: transform .8s;
    }
    
    #BOOKING:target .booking-form  .recomendation-list{
        bottom: 8%;
        transition-delay: .3s;
        transform:translateY(0%);
    }
    .recomendation{
        text-transform: uppercase;
        font-size: 20px;
        letter-spacing: 1.5px;
        word-spacing: 3px;
        position: relative;
        text-align: start;
        margin-left: 20px;

    }
    .recomendation img{
        position: relative;
        bottom: 5px;
    }
    .recomendation::after{
        content: '';
        width: 100%; height: 3px;
        display: inline-block;
        position:absolute ;
        bottom: -10px;
       left: 0;
       transform: scaleX(6);
        background-color: black;

    }

  











    .scroller{
        display: block;
    }


    #goDown{
        position: absolute;
       top: 0;left: 0;
        z-index: -1;
        visibility: hidden;
        opacity: 0;

    }
    #goDown:checked + .goDown img{
        transform: rotateZ(-180deg);
        transition-delay: .3s;
    }
    #BOOKING:target .booking-form  .scroller > .goDown{
        transition-delay: .7s;
      
        opacity: 1;
 
    }
   
    .goDown{
        width: 100dvw; height: 50px;
        position: absolute;
        bottom: 0px; left: 0;
        overflow: hidden;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        z-index: 999;
        transition: 0s;
        opacity: 0;
    }
    .goDown span{
        font-size: 20px;
        text-transform: uppercase;
        color: goldenrod;
        -webkit-text-stroke: 1px black;
        z-index: 999;
    }
  .btnGoesDown{
    bottom: -120px;
  
  }



















    .contact-wraper{
        position: absolute;
        top: 115%;
        width: 100vw;
        border-radius: 0px;
        border: none;
        margin: none;
        

    }
    .contact-list{
        width: min-content;
      
    }
    .contact{
        border: none;
        margin: auto;
      
    }
    .contact h2{
        color: rgb(160, 119, 16);
        -webkit-text-stroke: 1px rgb(255, 255, 255);
    }

    .logo {
        display: inline-block;
        z-index: -1;
        position: absolute;
        bottom: -90%; left: 50%;
        transform: translateX(-50%);
        height: 30px;
        width:max-content;
    }
   .logo h1{

    transform: scale(1);
    text-wrap: nowrap;
    writing-mode: horizontal-tb;
    font-size: 80px;
    font-weight: 400;
    opacity: .3;
    letter-spacing: 2px;
    -webkit-text-stroke: 1px goldenrod;
    text-shadow: 10px 10px 10px 10px black;
   margin: 0%;
   }
    
.mapsheader{
    display: inline-block;
    position: absolute;
    color: goldenrod;
    -webkit-text-stroke: 1px black;
    bottom: -68%;
    text-transform: uppercase;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    
}

    .map{
        position: absolute;
        bottom: -85%;
        height: 120px;   
        width: 90dvw;
        margin: auto;

    }
   
    .custom-map__opener{
       opacity: 0; 
       z-index: -1;
    }
    #map__opener:checked +.map__section >.map >.customo-map__opener::after{
display: none;
    }


}